@media (max-width: 991px) {
    body {
        font-size: 1.5rem;
    }

    body h1 {
        font-size: 4rem;
    }

    body h2 {
        font-size: 3rem;
    }

    body .main-form input {
        display: block;
    }

    body .connect .col-sm-12 {
        padding-left: 0;
    }

    body .connect .footer-form input {
        display: block;
        margin-bottom: 1rem;
    }

    body .form-btn {
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    body {
        font-size: 1.3rem;
    }

    body ul {
        line-height: 3;
    }

    body li a {
        font-size: 1.5rem;
    }

    body .underline {
        width: 30rem;
    }

    body h1 {
        font-size: 3.3rem;
    }

    body h2 {
        font-size: 2.5rem;
    }

    body .description {
        font-size: 2rem;
    }
}

@media (max-width: 448px) {
    body h1 {
        font-size: 2.2rem;
    }

    body h2 {
        font-size: 2rem;
    }
}