@media (max-width: 991px) {
    body {
        font-size: 1.5rem;
    }

    body h1 {
        font-size: 4rem;
    }

    body h2 {
        font-size: 3rem;
    }

    body .main-form input {
        display: block;
    }

    body .connect .col-sm-12 {
        padding-left: 0;
    }

    body .connect .footer-form input {
        display: block;
        margin-bottom: 1rem;
    }

    body .form-btn {
        margin-left: 0;
    }
}
@media (max-width: 767px) {
    body {
        font-size: 1.3rem;
    }

    body ul {
        line-height: 3;
    }

    body li a {
        font-size: 1.5rem;
    }

    body .underline {
        width: 30rem;
    }

    body h1 {
        font-size: 3.3rem;
    }

    body h2 {
        font-size: 2.5rem;
    }

    body .description {
        font-size: 2rem;
    }
    .modal-window {
        width: 740px !important;
    }
}

@media (max-width: 448px) {
    body h1 {
        font-size: 2.2rem;
    }

    body h2 {
        font-size: 2rem;
    }
}
/* 680 px  */
@media (max-width: 680px) {
    .modal-window {
        width: 660px !important;
    }
}
/* 700 px  */
@media (max-width: 700px) {
    .modal-window {
        width: 680px !important;
    }
}
/* 720 px  */
@media (max-width: 720px) {
    .modal-window {
        width: 700px !important;
    }
}
/* 730 px  */
@media (min-width: 700px) and (max-width: 730px) {
    .modal-window {
        width: 700px !important;
    }
}
/* 780 px  */
@media (max-width: 780px) {
    .modal-window {
        width: 760px !important;
    }
}
/* 800 px  */
@media (max-width: 800px) {
    .modal-window {
        width: 780px !important;
    }
}
/*/////////////////////////////*/
/* 1024 px  */
@media (max-width: 1024px) {
    .modal-window {
        width: 800px !important;
    }
}
/* 768 px  IPad */
@media (max-width: 768px) {
    .modal-window {
        width: 740px !important;
    }
    body .underline {

    }
}
/* 540 px  */
@media (max-width: 540px) {
    .modal-window {
        width: 500px !important;
    }
    .modal-body img.pic {
        height: 325px !important;
    }
}
/* 414 px  IPhone6/7/8 Plus */
@media (max-width: 414px) {
    .modal-window {
        width: 400px !important;
    }
    body .underline {
        width: 240px;
    }
    .modal-body img.pic {
        height: 325px !important;
    }
}
/* 375 px  IPhone6/7/8 */
@media (max-width: 375px) {
    .modal-window {
        width: 350px !important;
    }
    body .underline {
        width: 240px;
    }
    .modal-body img.pic {
        height: 325px !important;
    }
}
/* 320 px  IPhone5/SE */
@media (max-width: 320px) {
    .modal-window {
        width: 300px !important;
    }
    body .underline {
        width: 200px;
    }
    .modal-body img.pic {
        height: 325px !important;
    }
}
/* 280 px  */
@media (max-width: 280px) {
    .modal-window {
        width: 250px !important;
    }
}