@font-face {
	font-family: 'Roboto';
	src: url("../fonts/Roboto-Light.eot");
	src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light.svg#Roboto-Light") format("svg");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url("../fonts/Roboto-Regular.eot");
	src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

html {
	font-size: 10px;
}
.slider {
	opacity: 0;
}


img {
	max-width: 100%;
	/*баг с отображением вертикальных изображений. Проблема с кроссбраузерностью. Firefox не поддерживает это свойство*/
	max-height: fill-available;
	max-height: -webkit-fill-available;
}
.slider-images img {
	pointer-events: none; /*изображения не будут перетаскиваться мышью*/
}
.slider-images.grab {
	cursor: grab;
}

.slider-images.grabbing{
	cursor: grabbing;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	text-align: center;
	font-size: 1.8rem;
}



body h2 {
	font-size: 3.6rem;
	font-weight: 300;
	margin-bottom: 2rem;
}

body .container {
	max-width: 1140px;
}

body .underline {
	display: inline-block;
	border-bottom: 1px solid #80bf44;
	width: 38rem;
	margin-bottom: 3rem;
}

.slider-wrapper {
	/* Чтобы во время перетаскивания слайда ничего не выделить внутри него */
	user-select: none;
	/* Чтобы запретить скролл страницы, если мы начали двигать слайдер по оси X */
	touch-action: pan-y;
}

.slider {
	padding: 5rem;
}

.slider .slider-hor {
	width: 100%;
	margin-bottom: 6.4rem;
}

.slider .slider-hor-item {
	margin: 0 1.2rem;
	padding-right: 10px;
	display: inline-block;
	cursor: pointer;
	/*height: 200px;*/
	/*overflow: hidden;*/
}

.slider img {
	vertical-align: middle;
	border-bottom: solid 8px #80bf44;
}

.title-img {
	display: none;
}

.title-img_visible {
	display: block;
	color: #949191;
	background: #fff0f0;
}
.title-pic_visible {
	display: block;
	color: #949191;
	background: #fff0f0;
}

.slider__indicators {
	/*position: absolute;*/
	/*right: 0;*/
	/*bottom: 0;*/
	/*left: 0;*/
	background: #80bf44;
	z-index: 15;
	display: flex;
	justify-content: center;
	padding-left: 0;
	margin: 2.5% 15% 0 15%;
	/*margin-right: 15%;*/
	/*margin-left: 15%;*/
	list-style: none;
	/*margin-top: 0;*/
	/*margin-bottom: 0;*/
}

.slider__indicators li {
	box-sizing: content-box;
	flex: 0 1 auto;
	width: 30px;
	height: 5px;
	margin-right: 3px;
	margin-left: 3px;
	text-indent: -999px;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.5);
	background-clip: padding-box;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
}

.slider__indicators li.active {
	background-color: rgba(255, 255, 255, 0.9);
}